openapi: 3.2.0
info:
  title: ArcBest Pickups Rates API
  description: The ArcBest API provides programmatic access to freight services including LTL rate quotes, shipment booking, tracking, BOL generation, and supply chain visibility. Access to the API is by invitation only.
  version: '2.0'
  x-generated-from: documentation
  contact:
    name: ArcBest
    url: https://www.arcbest.com/
servers:
- url: https://api.arcbest.com/v2
  description: ArcBest API Production
security:
- bearerAuth: []
tags:
- name: Rates
  description: Freight rate quote services
paths:
  /rates/ltl:
    post:
      operationId: getLTLRate
      summary: ArcBest Get LTL Rate Quote
      description: Request a real-time LTL freight rate quote with transit time estimate.
      tags:
      - Rates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateRequest'
            examples:
              GetLTLRateRequestExample:
                summary: Default getLTLRate request
                x-microcks-default: true
                value:
                  origin:
                    zip: '72015'
                    country: US
                  destination:
                    zip: '90210'
                    country: US
                  items:
                  - weight: 500
                    freightClass: '70'
                    pieces: 2
      responses:
        '200':
          description: Rate quote result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateResponse'
              examples:
                GetLTLRate200Example:
                  summary: Default getLTLRate 200 response
                  x-microcks-default: true
                  value:
                    quoteNumber: Q-20260419-001
                    totalCharge: 425.5
                    transitDays: 3
                    serviceLevel: STANDARD
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - bearerAuth: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RateRequest:
      type: object
      required:
      - origin
      - destination
      - items
      properties:
        origin:
          $ref: '#/components/schemas/Address'
        destination:
          $ref: '#/components/schemas/Address'
        items:
          type: array
          items:
            $ref: '#/components/schemas/FreightItem'
        serviceType:
          type: string
          description: Requested service type
          enum:
          - STANDARD
          - EXPEDITED
          - GUARANTEED
          example: STANDARD
    Address:
      type: object
      properties:
        name:
          type: string
          description: Company or person name
          example: ACME Corp
        address:
          type: string
          description: Street address
          example: 123 Main St
        city:
          type: string
          description: City
          example: Benton
        state:
          type: string
          description: State abbreviation
          example: AR
        zip:
          type: string
          description: ZIP code
          example: '72015'
        country:
          type: string
          description: Country code (ISO 3166-1 alpha-2)
          example: US
    FreightItem:
      type: object
      properties:
        weight:
          type: number
          description: Weight in pounds
          example: 500
        freightClass:
          type: string
          description: NMFC freight classification
          example: '70'
        pieces:
          type: integer
          description: Number of pieces
          example: 2
        description:
          type: string
          description: Commodity description
          example: Machine parts
        length:
          type: number
          description: Length in inches
          example: 48.0
        width:
          type: number
          description: Width in inches
          example: 40.0
        height:
          type: number
          description: Height in inches
          example: 36.0
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message
          example: Unauthorized access
        code:
          type: integer
          description: Error code
          example: 401
    RateResponse:
      type: object
      properties:
        quoteNumber:
          type: string
          description: Quote reference number
          example: Q-20260419-001
        totalCharge:
          type: number
          description: Total freight charge in USD
          example: 425.5
        transitDays:
          type: integer
          description: Estimated transit days
          example: 3
        serviceLevel:
          type: string
          description: Service level
          example: STANDARD
        expiresAt:
          type: string
          format: date-time
          description: Quote expiration timestamp
          example: '2026-04-26T23:59:59Z'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token obtained from ArcBest API authentication
